@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/MaterialIcons.woff2) format('woff2');
}

@font-face {
    font-family: 'Minecraft Ten';
    font-style: normal;
    font-weight: normal;
    src: url(../assets/MinecraftTen-VGORe.woff) format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    -webkit-app-region: no-drag;
    outline: none!important;
}

body {
    user-select: none;
    font-weight: 300;
    font-family: 'Poppins', sans-serif!important;
    color: #f2f2f2;
    background: #00000070;
    overflow: hidden;
}

.content {
    margin-top: 41px;
    display: flex;

}

.information {
    color: #f2f2f280;
    transition: .2s;
}

.link {
    color: #871dff;
    cursor: pointer;
    transition: .4s;
}

.link:hover {
    text-shadow: 0 0 20px #871dff80;
    text-decoration: underline;
}

.playSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    transition: .6s;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: calc(100vh - 41px);
    gap: 32px;
    background: linear-gradient(90deg, #00000050, #00000020, transparent)
}

.sidebarGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.main {
    height: calc(100vh - 41px - 32px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: linear-gradient(#00000050, #00000020, transparent);
}

.tab {
    transform: translateY(-200px);
    display: none;
    transition: .2s;
}

.tabContent, .tab {
    display: none;
}

.btn {
    background: #00000050;
    border: #ffffff10 2px solid;
    padding: 8px 16px;
    cursor: pointer;
    transition: .2s;
    color: #ffffff90;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100px;
    height: 24px;
    gap: 12px;
}

.text {
    font-family: 'Poppins', sans-serif;
    background: #00000050;
    border: #ffffff10 2px solid;
    color: #ffffff90;
    padding: 8px 16px;
    height: 24px;
    transition: .4s;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
}

.divider {
    border-left: #ffffff10 1px solid;
    height: 20px;
}

.btn .material-icons {
    color: #ffffff70; /* optical coloring thing */
    font-size: 22px;
}

.play {
    font-family: "Minecraft Ten";
    font-size: 30px;
    background: #00000050;
    border: #ffffff10 2px solid;
    padding: 8px 94px 18px 94px;
    cursor: pointer;
    transition: .2s;
    color: #ffffff90;
}

.play:hover, .btn:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px #00000050;
}

.play:active, .btn:active, .text:hover, .text:focus {
    border: #a3898960 2px solid;
}

.text:focus {
    box-shadow: 0 10px 20px #00000050;
}

.sidebarItem {
    font-size: 24px;
    width: 24px;
    color: #b3b3b370;
    transition: .4s;
}

.active {
    color: #f2f2f2!important;
}

.cog.active  {
    transform: rotate(120deg)!important;
}

.sidebarMainItem {
    filter: grayscale(1);
    opacity: .6;
    border-radius: 3px;
}

.sidebarMainItem:hover {
    transform: scale(1.1);
    opacity: 1;
    filter: none;
    border-radius: 0;
}

.sidebarItem:hover {
    color: #ffffff98;
    cursor: pointer;
}

.puzzle {
    transform-origin: calc(100% + 10px) calc(100% - 3px);
}

.puzzle:hover {
    transform: rotate(10deg);
}

.puzzle.active {
    transform: rotate(20deg);
}

.cog:hover {
    transform: rotate(60deg);
}

.main {
    width: 100%;
}

.titlebar {
    width: calc(100vw - 30px);
    padding: 8px 15px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    background: #00000050;
    z-index: 999;
    -webkit-app-region: drag;
    user-select: none;
}

.close {
    font-size: 18px!important;
    position: absolute;
    right: 15px;
    width: 20px;
    top: 10px; /* optical centering */
    border: #f2f2f250 1px solid;
    cursor: pointer;
    transition: .3s;
    font-weight: 200;
}

.close:hover {
    font-weight: 800;
    border: #ff1e1ede 1px solid;
    color: #ff1e1e
}

input[type="checkbox"] {
    appearance: none;
    background: #1a1a1a20;
    border: #f2f2f250 1px solid;
    padding: 7px;
    position: relative;
    top: 3px;
    transition: .2s;
}

input[type="checkbox"]:hover {
    border: #b3b3b3 1px solid;
}

input[type="checkbox"]:checked {
    /* border: 1px solid #1e78ff; */
    background: #1a1a1a50;
}

@keyframes aftercb {
    0% {
        padding: 0px 0px;
    }
    100% {
        padding: 0px 3px;
    }
}

@keyframes beforecb {
    0% {
        padding: 0px 0px;
        transform: translateY(3px) translateX(2px);
        border: none;
    }
    70% {
        padding: 0px 0px;
        transform: translateY(3px) translateX(2px);
        border: none;
    }
    100% {
        padding: 0px 5px;
    }
}

input[type="checkbox"]:checked::after {
    opacity: .7;
    content: '';
    position: absolute;
    animation: aftercb .2s;
    padding: 0px 1.5px;
    border: white 1px solid;
    background: white;
    border-radius: 10px;
    transform: translateY(1px) translateX(-5px) rotate(45deg);
}

input[type="checkbox"]:checked::before {
    opacity: .7;
    content: '';
    position: absolute;
    animation: beforecb .3s;
    padding: 0px 4px;
    border: white 1px solid;
    background: white;
    border-radius: 10px;
    transform: translateY(-1px) translateX(-3px) rotate(-52deg);
}

.checkbox {
    display: none;
}


.title {
    display: flex;
    gap: 10px;
    align-items: center;
    -webkit-app-region: drag;
    color: #f2f2f280;
}