@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    -webkit-app-region: no-drag;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
}

.content {
    margin-top: 36px;
    padding: 15px;
}

.titlebar {
    width: calc(100vw - 30px);
    padding: 10px 15px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    background: #00000050;
    -webkit-app-region: drag;
    user-select: none;
}

.close {
    font-size: 18px!important;
    position: absolute;
    right: 15px;
    top: 9px; /* optical centering */
    border: #f2f2f250 1px solid;
    cursor: pointer;
    transition: .3s;
}

.close:hover {
    border: #ff1e1ede 1px solid;
    color: #ff1e1e
}

@media (prefers-color-scheme: dark) {
    body {
        color: #f2f2f2;
    }
}
  
@media (prefers-color-scheme: light) {
    body { 
        color: #ffffff;
    }
    .titlebar {
        color: #f2f2f2;
        background: #00000020;
    }
}